APP_NAME=CRM INPRO
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/crm-inpro/public

DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=crm_inpro
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=crm_inpro_session